.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 131px;
  background: #ffffff;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #000000;
}

.a-fixed {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  z-index: 45;
}

.a-top {
  display: block;
  position: relative;
  padding: 18px 0;
  background-color: #7ee0c9;
  z-index: 45;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__row {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__phone {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__link {
    display: inline-block;
    margin: 0 22px;
    opacity: 0.7;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__subtitle {
    display: inline-block;
    margin: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }
  &__icon {
    display: inline-block;
    position: relative;
    margin: 0 0 0 25px;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10px;
    bottom: -4px;
    width: 17px;
    height: 17px;
    border-radius: 999rem;
    background-color: #339190;
    color: #ffffff;
    font-size: 8px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
  }
}

.a-header {
  display: block;
  position: relative;
  padding: 0;
  background: #ffffff;
  z-index: 45;
  & > .container {
    display: flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  &__row {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    &_red {
      color: #ff0033 !important;
    }
    & > li {
      display: inline-block;
      position: relative;
      & > a {
        display: inline-block;
        position: relative;
        margin: 0 0 0 32px;
        padding: 20px 0 18px 0;
        border-bottom: 3px solid transparent;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          border-color: #000000;
          color: #ff0033;
          text-decoration: none;
        }
      }
    }
  }
  &__toggle {
    display: inline-block;
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 260px;
    margin: 0;
    padding: 16px 0;
    background-color: #f2fcf9;
    z-index: 49;
    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        a {
          display: block;
          position: relative;
          padding: 12px 24px;
          color: #000000;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            border-color: #000000;
            color: #ff0033;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 860px;
    padding: 46px 40px;
    background-color: #f2fcf9;
    z-index: 48;
  }
  &__droper {
    position: relative;
    &:hover {
      .a-header__drop {
        display: block;
      }
      & > a {
        border-color: #000000;
      }
    }
  }
  &__link {
    display: block;
    margin: 0 0 26px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ff0033;
      text-decoration: none;
    }
  }
  &__subnav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      a {
        display: block;
        margin: 0 0 12px 0;
        color: #000000;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #ff0033;
          text-decoration: none;
        }
      }
    }
  }
  &__search {
    display: inline-block;
    position: relative;
    input {
      display: block;
      position: relative;
      width: 405px;
      padding: 10px 50px 10px 12px;
      border: 1px solid #d6ebff;
      outline: none;
      background: #ffffff;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    padding: 2px;
    border: 0;
    background: transparent;
    outline: none;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__logo {
    display: block;
    position: absolute;
    left: 50%;
    top: -25px;
    max-width: 90px;
    max-height: 90px;
    margin-left: -45px;
    img,
    svg {
      display: block;
      position: relative;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.a-home-top {
  display: block;
  position: relative;
  width: 100%;
  .swiper-pagination {
    bottom: 45px;
  }
  .swiper-pagination-bullet {
    margin: 0 12px !important;
    width: 10px;
    height: 10px;
    border: none;
    background-color: #ffffff;
    opacity: 0.5;
    outline: none;
    transition: all 0.2s ease-out;
  }
  .swiper-pagination-bullet-active {
    background-color: #ffffff;
    opacity: 1;
    transform: scale(1.5);
  }
  &-card {
    display: block;
    position: relative;
    background-position: center center;
    background-size: cover;
    &__wrap {
      display: block;
      position: relative;
      width: 100%;
    }
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      width: 100%;
      min-height: calc(100vh - 131px);
      padding: 140px 0 160px 0;
      text-align: right;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 50px;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__text {
      display: block;
      margin: 30px 0 0 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    &__button {
      display: inline-block;
      margin: 42px 0 0 0;
      padding: 15px 50px;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background: #ffffff;
        color: #000000;
        text-decoration: none;
      }
    }
  }
}

.a-home-cards {
  display: block;
  position: relative;
  padding: 60px 0 10px 0;
  background-color: #f2fcfa;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 auto 55px auto;
    &__image {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      height: 255px;
      background-position: center center;
      background-size: cover;
    }
    &__like {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;
      background: url("../images/icon_like.png") no-repeat center center;
      z-index: 3;
      &_active {
        background: url("../images/icon_like_liked.png") no-repeat center center !important;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
    &__what {
      display: block;
      height: 27px;
      overflow: hidden;
      margin: 15px 0 0 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
    }
    &__title {
      display: block;
      height: 28px;
      overflow: hidden;
      margin: 2px 0 18px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 500;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
    }
    &__sale {
      display: inline-block;
      margin: 0;
      font-size: 24px;
      color: #ff0033;
      font-weight: 500;
    }
    &__oldprice {
      display: inline-block;
      margin: 0 5px 0 0;
      color: #363636;
      font-size: 16px;
      font-weight: 400;
      text-decoration: line-through;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 24px;
      font-weight: 500;
    }
    &__subtitle {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 12px;
      font-weight: 400;
    }
    &__sizes {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: calc(100% + 12px);
      margin-top: 20px;
      margin-left: -6px;
      padding: 10px 6px;
      background-color: rgba(230, 230, 230, 0.3);
      opacity: 0;
      transition: all 0.2s ease-out;
    }
    &__size {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }
    transform-style: preserve-3d;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: -6px;
      left: -6px;
      width: calc(100% + 12px);
      height: calc(100% + 6px);
      transform: translateZ(-1px);
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        background: #ffffff;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
      }
      .a-home-cards-card__sizes {
        opacity: 1;
      }
      background: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-catalog {
  display: block;
  position: relative;
  padding: 60px 0 0 0;
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      min-height: 525px;
      padding: 20px 20px 75px 20px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .a-home-catalog-card__hr {
          display: block;
        }
        .a-home-catalog-card__nav {
          height: auto;
        }
        justify-content: center;
        padding: 20px;
        background-color: rgba(35, 58, 57, 0.8);
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
    &__hr {
      display: none;
      width: 47px;
      height: 1px;
      margin: 38px 0 20px 0;
      background-color: #ffffff;
    }
    &__nav {
      display: block;
      height: 0;
      overflow: hidden;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        margin: 0;
        a {
          display: block;
          margin: 18px 0 0 0;
          color: #ffffff;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 400;
          cursor: pointer;
          text-decoration: none;
          transition: all 0.2s ease-out;
          &:hover {
            opacity: 0.7;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.a-home-brand {
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 260px;
      padding: 80px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        .a-home-catalog-card__hr {
          display: block;
        }
        .a-home-catalog-card__nav {
          height: auto;
        }
        padding: 20px;
        background-color: rgba(35, 58, 57, 0.8);
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 600;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.a-home-set {
  display: block;
  padding: 40px 0 0 0;
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    border-radius: 999rem;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 0;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    right: 0;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 0 30px;
  }
}

.a-home-features {
  display: block;
  padding: 110px 0 70px;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 190px;
    margin: 0 auto 30px auto;
    text-align: center;
    &__image {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 105px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.a-home-news {
  display: block;
  padding: 0 0 55px 0;
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    border-radius: 999rem;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 0;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    right: 0;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 0 30px;
  }
  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 0 30px 0;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 100%;
      min-height: 260px;
      padding: 25px 32px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: rgba(35, 58, 57, 0.8);
        text-decoration: none;
      }
    }
    &__title {
      display: block;
      max-width: 180px;
      margin: 0;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
    }
    &__link {
      margin: 0;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 400;
      text-decoration: underline;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    position: relative;
    margin: 10px 0 0 0;
    color: #339190;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #339190;
      text-decoration: none;
    }
  }
}

.a-home-inst {
  display: block;
  padding: 60px 0;
  background-color: #f2fcf9;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 25px 0;
    color: #339190;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
    background-position: center center;
    background-size: cover;
    &_md_left {
      margin-left: 70px;
    }
    &_xs_left {
      margin-left: 20px;
    }
    &_xs_top {
      margin-top: 40px;
    }
    &_sm_left {
      margin-left: -20px;
    }
    &_md {
      max-width: 200px;
      height: 200px;
    }
    &_sm {
      width: 140px;
      height: 140px;
    }
    &_xs {
      max-width: 100px;
      height: 100px;
    }
  }
  &__centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin-top: -50px;
    padding: 22px 55px;
    background-color: #233a39;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-more {
  display: block;
  padding: 55px 0 0 0;
  &_page {
    padding-top: 5px;
    padding-bottom: 60px;
  }
  &__title {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 35px;
    font-weight: 500;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
  }
  &-card {
    display: inline-block;
    margin: 25px 25px 0 0;
    padding: 6px 30px;
    border-radius: 999rem;
    border: 2px solid #339190;
    background: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #339190;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-home-seo {
  display: block;
  padding: 75px 0 60px 0;
  &__title {
    display: block;
    margin: 0 0 26px 0;
    color: #000000;
    font-size: 24px;
    font-weight: 500;
  }
  &__content {
    display: block;
    height: 120px;
    overflow: hidden;
    color: #233a39;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    transition: all 0.2s ease-out;
    p {
      display: block;
      margin: 0 0 30px 0;
    }
    &_active {
      height: auto !important;
    }
  }
  &__toggle {
    display: block;
    margin: 25px 0 0 0;
    color: #339190;
    &_active {
      &:after {
        content: "Скрыть" !important;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      &:after {
        text-decoration: none;
      }
      color: #339190;
      text-decoration: none;
    }
    &:after {
      display: block;
      content: "Читать далее";
      color: #339190;
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
    }
  }
}

.a-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0;
  background-color: #233a39;
  &__subtitle {
    display: block;
    margin: 0 0 7px 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0 0 4px 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 0 0 30px 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__creators {
    display: block;
    margin: 5px 0 0 0;
    opacity: 0.5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 1;
      color: #ffffff;
      text-decoration: none;
    }
  }
  img,
  svg {
    max-width: 100%;
  }
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__logo {
    display: block;
    margin: 0 0 105px 0;
    img,
    svg {
      display: block;
      max-width: 145px;
      max-height: 145px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      cursor: pointer;
      text-decoration: none;
    }
  }
  &__social {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    a {
      display: inline-block;
      margin: 0 20px 20px 0;
      img,
      svg {
        display: block;
        max-width: 32px;
        max-height: 32px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 34px 0;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin: 0 0 12px 0;
      a {
        display: block;
        opacity: 0.5;
        color: #ffffff;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          opacity: 1;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  &_m_l_20 {
    margin-left: 20px;
  }
  &_m_l_50 {
    margin-left: 50px;
  }
}

.a-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.9);
  }
  ::placeholder {
    color: #000000;
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover,
    &:active,
    &:focus {
      transform: rotate(90deg);
      text-decoration: none;
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    padding: 40px 50px;
    border: 1px solid #339190;
    background-color: #ffffff;
    z-index: 3;
    input {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 14px 20px;
      border: 1px solid #d6ebff;
      background-color: #ffffff;
      background: #ffffff;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 14px 20px;
      border: 1px solid #d6ebff;
      background-color: #ffffff;
      background: #ffffff;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #272727;
    font-size: 25px;
    font-weight: 700;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__info {
    display: block;
    margin: 0 0 0 24px;
    opacity: 0.5;
    color: #000000;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 24px;
    border: 0;
    outline: none;
    background-color: #339190;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-breadcrumps {
  display: block;
  position: relative;
  margin: 0;
  padding: 18px 0 36px 0;
  list-style: none;
  color: rgba(0, 0, 0, 0.5);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  li {
    display: inline;
    a {
      display: inline;
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: rgba(0, 0, 0, 1);
        text-decoration: none;
      }
    }
  }
}

.a-page-title {
  display: block;
  position: relative;
  margin: 0 0 30px 0;
  color: #000000;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 500;
}

.a-page-category {
  display: block;
  position: relative;
  width: 100%;
  max-width: 270px;
  min-height: 90px;
  margin: 0 auto 30px auto;
  padding: 6px 6px 6px 25px;
  background-color: #76d4c1;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  .row {
    height: 78px;
  }
  img,
  svg {
    display: block;
    max-width: 75px;
    max-height: 75px;
  }
  &_darker {
    background: #339190;
  }
  &_dark {
    background: #233a39;
  }
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;
  &:hover {
    opacity: 0.7;
    color: #ffffff;
    text-decoration: none;
  }
}

.a-sort {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding: 35px 0;
  &__title {
    display: inline-block;
    margin: 0;
    opacity: 0.5;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
  }
  &-item {
    display: inline-block;
    position: relative;
    margin: 0 0 0 30px;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        border-color: #339190;
        color: #339190;
      }
    }
    & > div {
      display: inline-block;
      border-bottom: 1px dashed #000000;
    }
  }
}

.a-aside {
  display: block;
  position: relative;
  width: 100%;
  max-width: 270px;
  margin: 0 auto 20px auto;
  &-collapse {
    display: block;
    margin: 0 0 10px 0;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      padding: 5px 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 500;
      img,
      svg {
        display: block;
        max-width: 14px;
        max-height: 14px;
        transition: all 0.2s ease-out;
      }
      &_active {
        img,
        svg {
          transform: rotate(180deg);
        }
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 0.7;
        color: #000000;
        text-decoration: none;
      }
    }
    &__content {
      display: none;
      position: relative;
      padding: 20px 0 5px 0;
    }
  }
  &-check {
    display: block;
    position: relative;
    margin: 0 0 15px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    cursor: pointer;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat left top 1px;
      }
    }
    & > div {
      display: block;
      padding-left: 20px;
      background: url("../images/icon_checkbox.png") no-repeat left top 1px;
    }
  }
  &__price {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
  }
  &__colors {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-color {
    display: block;
    position: relative;
    margin: 0 20px 20px 0;
    cursor: pointer;
    &_dark {
      & > div:after {
        filter: brightness(0) invert(1);
      }
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        &:after {
          display: block;
          position: absolute;
          content: "";
          top: 6px;
          left: 5px;
          width: 16px;
          height: 14px;
          background: url("../images/icon_color_checked.png") no-repeat center center;
          background-size: contain;
        }
      }
    }
    & > div {
      display: block;
      position: relative;
      width: 27px;
      height: 27px;
      border: 1px solid #cacaca;
    }
  }
  .noUi-handle {
    right: -6px;
    width: 13px;
    height: 13px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #090f10;
    box-shadow: none;
    &:before,
    &:after {
      display: none;
    }
  }
  .noUi-target {
    height: 1px;
    margin: 15px 0;
    border: 0;
    background: rgba(141, 141, 141, 0.2);
  }
  .noUi-connects {
    overflow: visible !important;
  }
  .noUi-connect {
    height: 1px;
    margin-top: 0;
    background: #090f10;
  }
}

.a-good {
  display: block;
  position: relative;
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
  }
  &__art {
    display: block;
    margin: 0 0 30px 0;
    &-title {
      display: inline-block;
      margin: 0 10px 0 0;
      opacity: 0.5;
      color: #000000;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
    }
    &-text {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  &__sale {
    display: inline-block;
    margin: 0 60px 0 0;
    font-size: 24px;
    color: #ff0033;
    font-weight: 500;
  }
  &__oldprice {
    display: inline-block;
    margin: 0 20px 0 0;
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    text-decoration: line-through;
  }
  &__price {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 500;
  }
  &__subtitle {
    display: block;
    margin: 20px 0 10px 0;
    opacity: 0.5;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
  }
  &__color {
    display: inline-block;
    margin: 0 40px 5px 0;
    cursor: pointer;
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      &:checked ~ div {
        border-color: #339190;
        color: #339190;
      }
    }
    div {
      display: inline-block;
      border-bottom: 1px dashed #000000;
      color: #000000;
      line-height: 1;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__size {
    display: inline-block;
    margin: 0 10px 10px 0;
    cursor: pointer;
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
      overflow: hidden;
      &:checked ~ div {
        border-color: #339190;
        color: #000000;
      }
    }
    div {
      display: inline-block;
      padding: 6px 10px;
      border: 1px solid #d1d1d1;
      background-color: #ffffff;
      color: #000000;
      line-height: 1;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
  }
  &__link {
    display: inline-block;
    margin: 5px 0 48px 0;
    border-bottom: 1px dashed #000000;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      border-color: #339190;
      color: #339190;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 12px 40px;
    border: 0;
    outline: none;
    background-color: #339190;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__like {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 40px;
    background: url("../images/icon_like.png") no-repeat center center;
    z-index: 3;
    &_active {
      background: url("../images/icon_like_liked.png") no-repeat center center !important;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
}

.gallery-thumbs {
  width: 100%;
  max-width: 70px;
  height: 500px;
  .swiper-slide {
    width: 100%;
    max-width: 70px;
    height: 70px;
    background-position: center center;
    background-size: cover;
  }
  .swiper-slide-thumb-active {
    border: 1px solid #339190;
  }
}
.gallery-top {
  width: 500px;
  .swiper-slide {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background-position: center center;
    background-size: cover;
  }
}

.a-tabs {
  display: block;
  padding: 30px 0 0 0;
  border-bottom: 1px solid #e4e4e4;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 75px;
      margin-bottom: -1px;
      padding: 14px 0;
      border-bottom: 3px solid transparent;
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 400;
      &.current {
        border-color: #000000;
        color: #000000;
        opacity: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 45px 0 25px 0;
    border-bottom: 1px solid #e4e4e4;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding: 0 0 18px 35px;
        color: #000000;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 12px;
          top: 6px;
          width: 8px;
          height: 8px;
          border-radius: 999rem;
          background-color: #339190;
        }
      }
    }
    &.current {
      display: block;
    }
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__subtitle {
    display: block;
    margin: 0 0 35px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
  }
  &-card {
    display: block;
    position: relative;
    padding: 26px 0;
    border-top: 1px solid #e4e4e4;
    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
    &__row {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: center;
    }
    &__name {
      display: block;
      margin: 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 500;
    }
    &__date {
      display: block;
      margin: 0 0 0 50px;
      opacity: 0.5;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
    &__text {
      display: block;
      margin: 12px 0 0 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.43;
    }
  }
  &__form {
    display: block;
    width: 100%;
    max-width: 400px;
    input {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 10px;
      border: 1px solid #d6ebff;
      background: #ffffff;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 10px;
      border: 1px solid #d6ebff;
      background: #ffffff;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 10px 0 25px 0;
    padding: 12px 40px;
    border: 0;
    outline: none;
    background-color: #339190;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #000000;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
  }
}

.a-another {
  display: block;
  padding: 100px 0 0 0;
  &_page {
    padding-top: 5px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    width: 64px;
    height: 64px;
    top: 120px;
    border-radius: 999rem;
    &:before,
    &:after {
      display: none;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  .swiper-button-prev {
    left: 0;
    background: url("../images/icon_prev.png") no-repeat center center;
    background-size: contain;
  }
  .swiper-button-next {
    right: 0;
    background: url("../images/icon_next.png") no-repeat center center;
    background-size: contain;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: calc(100% + 60px);
    margin-left: -30px;
    padding: 10px 30px 0 30px;
  }
}

.a-switch {
  display: block;
  padding: 30px 0 0 0;
  border-bottom: 1px solid #e4e4e4;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 75px;
      margin-bottom: -1px;
      padding: 7px 0;
      border-bottom: 3px solid transparent;
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-size: 25px;
      font-weight: 400;
      &.current {
        border-color: #000000;
        opacity: 1;
        color: #000000;
        font-weight: 500;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0 0 0;
    color: #181818;
    font-size: 18px;
    font-weight: 400;
    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding: 0 0 18px 35px;
        color: #000000;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 12px;
          top: 6px;
          width: 8px;
          height: 8px;
          border-radius: 999rem;
          background-color: #339190;
        }
      }
    }
    &.current {
      display: block;
    }
  }
}

.a-order {
  display: block;
  padding: 0 0 100px 0;
  &__title {
    display: block;
    margin: 0 0 5px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
  }
  &__input {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 11px;
    border: 1px solid #d6ebff;
    background: #ffffff;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
  }
  textarea {
    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 10px;
    border: 1px solid #d6ebff;
    background: #ffffff;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    display: inline-block;
    position: relative;
    margin: 20px 0 0 0;
    padding: 12px 45px;
    border: 0;
    outline: none;
    background-color: #339190;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    &_darker {
      background: #233a39;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &-info {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 30px 0;
    padding: 36px 40px 20px 40px;
    background-color: #f2fcf9;
    &__title {
      display: block;
      margin: 0 0 25px 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      margin: 0 0 15px 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      b,
      strong {
        font-weight: 500;
      }
    }
  }
  &__checkbox {
    display: block;
    margin: 0 0 20px 0;
    cursor: pointer;
    &_disabled {
      pointer-events: none !important;
      cursor: default !important;
      div {
        color: #969696 !important;
      }
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat left top 3px !important;
      }
    }
    div {
      display: block;
      position: relative;
      padding-left: 20px;
      background: url("../images/icon_checkbox.png") no-repeat left top 3px;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__delivery {
    display: block;
    margin: 0 0 30px 0;
    cursor: pointer;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        &:before {
          background: url("../images/alt_checkbox_checked.png") no-repeat center center !important;
        }
      }
    }
    div {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      max-width: 270px;
      min-height: 145px;
      padding: 18px;
      background-color: #76d4c1;
      background-position: center top 20px;
      background-repeat: no-repeat;
      color: #ffffff;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 10px;
        left: 10px;
        width: 17px;
        height: 17px;
        background: url("../images/alt_checkbox.png") no-repeat center center;
        background-size: contain;
      }
    }
  }
}

.a-thx {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: center;
  img,
  svg {
    max-width: 100%;
  }
  &__title {
    display: block;
    margin: 40px 0 10px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
  }
  &__info {
    display: block;
    margin: 0 0 15px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 36px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 12px 38px;
    border: 0;
    outline: none;
    background-color: #339190;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    &_darker {
      background: #233a39;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.a-basket {
  display: block;
  position: relative;
  padding: 0 0 75px 0;
  &__title {
    display: block;
    margin: 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 500;
  }
  &__header {
    display: block;
    position: relative;
    width: 100%;
    margin-top: -43px;
    padding: 15px 0;
    border-bottom: 1px solid #e4e4e4;
    color: rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    &__image {
      display: block;
      width: 100%;
      max-width: 170px;
      height: 170px;
      background-position: center center;
      background-size: cover;
    }
    &__what {
      display: block;
      margin: 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
    }
    &__title {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-size: 24px;
      font-weight: 500;
    }
    &__info {
      display: block;
      margin: 12px 0 0 0;
      &-title {
        display: inline-block;
        width: 90px;
        opacity: 0.5;
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
      }
      &-text {
        display: inline-block;
        margin: 0;
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
      }
    }
    &__sale {
      display: inline-block;
      margin: 0 20px 0 0;
      font-size: 24px;
      color: #ff0033;
      font-weight: 500;
    }
    &__oldprice {
      display: inline-block;
      margin: 0;
      color: #363636;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
      text-decoration: line-through;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 500;
    }
    &__counter {
      display: flex;
      align-items: stretch;
      position: relative;
      max-width: 135px;
      margin: 10px auto;
      input {
        display: block;
        width: 100%;
        max-width: 54px;
        margin: 0;
        padding: 8px 2px;
        border: 1px solid #d1d1d1;
        outline: none;
        background-color: #ffffff;
        color: #000000;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        text-align: center;
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
    &__minus {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      margin-right: -1px;
      border: 1px solid #d1d1d1;
      background: url("../images/icon_minus.png") no-repeat center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #ececec;
        text-decoration: none;
      }
    }
    &__plus {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      margin-left: -1px;
      border: 1px solid #d1d1d1;
      background: url("../images/icon_plus.png") no-repeat center center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #ececec;
        text-decoration: none;
      }
    }
    &__del {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 37px;
      height: 37px;
      margin-top: -18px;
      background: url("../images/icon_del.png") no-repeat center center;
      background-size: contain;
      filter: grayscale(1);
      opacity: 0.7;
      z-index: 3;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        filter: none;
        opacity: 1;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 26px 0 0 0;
    color: #339190;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #339190;
      text-decoration: none;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    position: relative;
    padding: 12px 35px;
    border: 0;
    outline: none;
    background-color: #339190;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 3;
    &_darker {
      background: #233a39;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #32615f;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
  &__final {
    display: block;
    margin: 23px 0 20px 0;
    color: #000000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
  }
}

.a-article {
  display: block;
  position: relative;
  width: 100%;
  &-top {
    display: block;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      min-height: 600px;
      padding: 40px 0;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 40px;
      font-weight: 500;
    }
    &__text {
      display: block;
      margin: 30px 0 0 0;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
    }
  }
  &-content {
    display: block;
    position: relative;
    padding: 60px 0;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 20px 0;
      color: #000000;
      font-weight: 500;
    }
    h1 {
      font-size: 40px;
    }
    h2 {
      font-size: 35px;
    }
    h3 {
      font-size: 25px;
    }
    h4 {
      font-size: 18px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 10px;
    }
    p {
      display: block;
      margin: 0 0 30px 0;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    a {
      color: #339190;
      cursor: pointer;
      transition: all 0.2s ease-out;
      text-decoration: underline;
      &:hover {
        color: #339190;
        text-decoration: none;
      }
    }
    img,
    svg {
      max-width: 100%;
    }
    ul {
      display: block;
      margin: 0 0 20px 0;
      padding: 0;
      list-style: none;
      li {
        display: block;
        position: relative;
        padding: 0 0 16px 35px;
        color: #000000;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 400;
        &:before {
          display: block;
          position: absolute;
          content: "";
          left: 12px;
          top: 8px;
          width: 8px;
          height: 8px;
          border-radius: 999rem;
          background-color: #339190;
        }
      }
    }
    figcaption {
      display: block;
      margin: 25px 0;
      opacity: 0.5;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
    figure {
      margin-bottom: 30px;
    }
    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 30px 0;
      padding: 45px 60px;
      border-left: 10px solid #233a39;
      background: #f2fcf9;
      color: #000000;
      font-family: Montserrat;
      font-size: 16px;
      font-style: italic;
      line-height: 1.5;
    }
  }
  .table {
    margin: 0 0 30px 0;
    border: 1px solid #233a39;
    th:first-child {
      text-align: left;
    }
    th:last-child {
      text-align: right;
    }
    td:first-child {
      text-align: left;
    }
    td:last-child {
      text-align: right;
    }
  }
  .table td,
  .table th {
    padding: 16px;
    border-bottom: 1px solid #233a39;
    color: #000000;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  .table thead th {
    padding: 15px;
    border-top: 0;
    background: #339190;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1199px) {
  .a-top {
    padding: 6px 0;
  }
  .a-header__nav > li > a {
    margin: 0;
    padding: 6px 4px;
  }
  .a-header__droper:hover .a-header__drop {
    display: none;
  }
  .a-header__search {
    margin: 0 20px;
  }
  .a-header__search input {
    width: 100%;
  }
  .a-header__toggle {
    margin: 14px 0;
  }
  .a-header__logo {
    max-width: 60px;
    top: -5px;
    margin-left: -30px;
  }
  .a-modal__content {
    padding: 40px 20px;
  }
  .a-modal__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .a-modal__info {
    margin: 10px 10px 0 10px;
  }
  .a-home-top-card {
    background-position: center center;
  }
  .a-home-top-card__content {
    align-items: center;
    min-height: 500px;
    padding: 40px 0;
    text-align: center;
  }
  .a-home-top-card__wrap {
    background: rgba(35, 58, 57, 0.8);
  }
  .a-home-top-card__title {
    font-size: 32px;
  }
  .a-home-top .swiper-pagination {
    bottom: 10px;
  }
  .a-home-cards {
    padding: 30px 0;
  }
  .a-home-cards-card__sizes {
    opacity: 1;
  }
  .a-home-cards-card {
    margin-bottom: 30px;
  }
  .a-home-catalog {
    padding: 30px 0;
  }
  .a-home-set {
    padding: 5px 0;
  }
  .a-home-set__cards {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .a-home-features {
    padding: 30px 0;
  }
  .a-home-features-card__image {
    height: 85px;
  }
  .a-home-news__title {
    margin-bottom: 20px;
  }
  .a-home-inst {
    padding: 30px 0;
  }
  .a-home-inst__title {
    margin-bottom: 20px;
  }
  .a-home-inst-card {
    width: 100%;
    max-width: 270px !important;
    height: 270px;
    margin: 0 auto 15px auto !important;
  }
  .a-home-more {
    padding: 20px 0;
  }
  .a-home-more-card {
    margin: 10px 10px 0 0;
  }
  .a-home-seo {
    padding: 30px 0;
  }
  .a-footer {
    padding: 30px 0;
  }
  .a-footer__nav {
    margin: 0 !important;
  }
  .a-footer__title {
    margin: 15px 0 !important;
  }
  .a-footer__centered {
    align-items: flex-start;
    padding: 20px 0 0 0;
  }
  .a-footer__logo {
    margin-bottom: 20px;
  }
  .a-top__row {
    justify-content: space-around;
    width: 100%;
  }
  .a-top__link {
    margin: 0;
  }
  body {
    padding-top: 109px;
  }
  .a-page-title {
    margin-bottom: 20px;
    font-size: 38px;
    text-align: center;
  }
  .a-sort {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0 20px 0;
    text-align: center;
  }
  .a-sort-item {
    margin: 6px;
  }
  .gallery-top {
    width: 100%;
    max-width: 500px;
    margin: 20px 0 0 0;
  }
  .gallery-top .swiper-slide {
    height: 400px;
  }
  .gallery-thumbs {
    width: calc(100% + 25px);
    height: 400px;
    margin: 20px 0 0 0;
  }
  .a-good__art {
    margin-bottom: 20px;
  }
  .a-good__link {
    margin-bottom: 20px;
  }
  .a-tabs__header li {
    margin-right: 20px;
  }
  .a-tabs__title__content {
    padding: 20px 0;
  }
  .a-tabs__title {
    margin-bottom: 25px;
  }
  .a-tabs__subtitle {
    margin: 20px 0;
  }
  .a-another {
    padding: 30px 0 0 0;
  }
  .a-another__cards {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .a-another__title {
    margin-bottom: 20px;
  }
  .a-home-more-card {
    padding: 4px 8px;
  }
  .a-order {
    padding-bottom: 30px;
  }
  .a-order__title {
    margin-bottom: 20px;
    font-size: 36px;
  }
  .a-switch {
    padding: 0;
  }
  .a-switch__header li {
    margin-right: 10px;
    font-size: 20px;
  }
  .a-basket__header {
    display: none;
  }
  .a-basket-card__del {
    top: 20px;
    margin: 0;
  }
  .a-basket-card .text-center {
    text-align: left !important;
  }
  .a-basket-card__counter {
    margin: 10px 0;
  }
  .a-basket__row {
    align-items: center;
  }
  .a-basket__link {
    display: block;
    text-align: center;
  }
  .a-article-top__content {
    min-height: 400px;
  }
  .a-article-content {
    padding: 30px 0;
  }
  .a-article-content blockquote {
    padding: 30px 20px;
  }
  .a-home-news__cards {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .a-breadcrumps {
    padding: 15px 0;
  }
}

/* @media (max-width: 768px) {
  .a-mob-first {
    order: -1;
  }
} */
